.font-monospace { font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
#tablesList .list-group-item { cursor:pointer; }
.badge { font-weight: 500; }
